@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

//Primary

$bright-orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$very-dark-cyan: hsl(179, 100%, 13%);

//Neutral

$very-light-gray: hsl(0, 0%, 95%);
$transparent-white: hsla(0, 0%, 100%, 0.75);

//Body copy
$font-size: 15px;

//Font

$big-shoulder-display: 'Big Shoulders Display', cursive;
$lexend-deca: 'Lexend Deca', sans-serif;

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: $very-light-gray;
    font-size: $font-size;
}
main{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.cards{
    display: flex;
    justify-content: center;
    article{
        width: 15%;
        min-height: 50vh;
        padding: 45px;
        line-height: 1.5;
    }
    h1{
        text-transform: uppercase;
        font-size: 2.5rem;
        font-family: $big-shoulder-display;
    }
    .sedans{
        background-color: $bright-orange;
        border-radius: 10px 0 0 10px;
    }
    .suvs{
        background-color: $dark-cyan;
    }
    .luxury{
        background-color: $very-dark-cyan;
        border-radius: 0 10px 10px 0;
    }
    p{
        color: $transparent-white;
        font-family: $lexend-deca;
        font-size: 0.9em;
    }
    h1, button{
        color: $very-light-gray;
    }
    button{
        background-color: transparent;
        border: 2px solid $very-light-gray;
        border-radius: 100px;
        font-size: 1em;
        padding: 0.7em 1.6em;
        font-family: $lexend-deca;
        margin-top: 50%;
        transition: 0.2s background-color, 0.2s transform;
    }
    button:hover{
        cursor: pointer;
        background-color: rgba(255,255,255,0.4);
        transform: scale(1.05);
    }
}
@media (max-width: 1200px){
    .cards{
        article{
            width: 20%;
        }
    }
}
@media(max-width: 1000px){
    main{
        height: 100%;
    }
    .cards{
        align-items: center;
        flex-direction: column;
        margin: 50px 0;
        article{
            width: 60%;
        }
        .sedans{
            border-radius: 10px 10px 0 0;
        }
        .luxury{
            border-radius: 0 0 10px 10px;
        }
        p{
            font-size: 1.2em;
        }
    }
}
@media(max-width: 700px){
    .cards{
        article{
            width: 80%;
        }
}
}

